# Source this file for development environment variables.
# Appropriate values will be set in production by heroku config

export FLASK_ENV=DEV
export DATABASE_URL=postgresql://user:password@localhost:5432/db
export FLASK_APP=__init__.py

export MQTT_BROKER_URL='mqtt://' 
export MQTT_BROKER_PORT=1883
export MQTT_USERNAME='...'
export MQTT_PASSWORD='...'
