# Source this file for development environment variables.
# Appropriate values will be set in production by heroku config

export FLASK_ENV=DEV
export DATABASE_URL=postgresql://user:password@localhost:5432/db
export FLASK_APP=__init__.py
export MQTT_URL='mqtt://user:pass@broker.hivemq.com:1883' 
